In [1]:
import pyodbc
import pandas as pd

server = 'localhost'  
database = 'DEProject'  


# Connect to the database
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

df = pd.read_sql_query("select * from Namastesql.dbo.Orders", conn)
df

C:\Users\akhil\AppData\Local\Temp\ipykernel_28084\3798101023.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from Namastesql.dbo.Orders", conn)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,463.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,FUR-FU-10000023,Furniture,Furnishings,Eldon Wave Desk Accessories,23.560,5.0,0.2,7.0680
1,464.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,1272.630,6.0,0.5,-814.4832
2,465.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-BI-10000315,Office Supplies,Binders,Poly Designer Cover & Back,28.485,5.0,0.7,-20.8890
3,466.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-SU-10003505,Office Supplies,Supplies,Premier Electric Letter Opener,185.376,2.0,0.2,-34.7580
4,467.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-AP-10002578,Office Supplies,Appliances,"Fellowes Premier Superior Surge Suppressor, 10...",78.272,2.0,0.2,5.8704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,6926.0,CA-2019-137925,2019-11-30,2019-12-04,Standard Class,JL-15235,Janet Lee,Consumer,United States,New York City,...,10035.0,East,FUR-BO-10001608,Furniture,Bookcases,"Hon Metal Bookcases, Black",681.408,12.0,0.2,42.5880
9990,6927.0,CA-2020-140046,2020-07-28,2020-08-03,Standard Class,KM-16660,Khloe Miller,Consumer,United States,Los Angeles,...,90032.0,West,OFF-LA-10000305,Office Supplies,Labels,Avery 495,18.900,3.0,0.0,8.6940
9991,6928.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,OFF-ST-10003638,Office Supplies,Storage,Mobile Personal File Cube,93.680,4.0,0.0,25.2936
9992,6929.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,OFF-LA-10001934,Office Supplies,Labels,Avery 516,21.930,3.0,0.0,10.3071
9993,6930.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,TEC-PH-10003012,Technology,Phones,Nortel Meridian M3904 Professional Digital phone,862.344,7.0,0.2,97.0137

In [4]:
import pyodbc
import pandas as pd
server = 'localhost,1433'
database = 'DEProject'


# Connect to the database. This can be used for PRODUCTION SETUP
# db = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password)  
# Connect to the database. This can be used for local testing.
db = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';Trusted_Connection=yes;')
cursor = db.cursor()

In [5]:
# Read data from database
df = pd.read_sql_query("select * from Namastesql.dbo.Orders", db)
df

C:\Users\akhil\AppData\Local\Temp\ipykernel_27700\331200927.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from Namastesql.dbo.Orders", db)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,463.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,FUR-FU-10000023,Furniture,Furnishings,Eldon Wave Desk Accessories,23.560,5.0,0.2,7.0680
1,464.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,1272.630,6.0,0.5,-814.4832
2,465.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-BI-10000315,Office Supplies,Binders,Poly Designer Cover & Back,28.485,5.0,0.7,-20.8890
3,466.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-SU-10003505,Office Supplies,Supplies,Premier Electric Letter Opener,185.376,2.0,0.2,-34.7580
4,467.0,CA-2020-109869,2020-04-22,2020-04-29,Standard Class,TN-21040,Tanja Norvell,Home Office,United States,Phoenix,...,85023.0,West,OFF-AP-10002578,Office Supplies,Appliances,"Fellowes Premier Superior Surge Suppressor, 10...",78.272,2.0,0.2,5.8704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,6926.0,CA-2019-137925,2019-11-30,2019-12-04,Standard Class,JL-15235,Janet Lee,Consumer,United States,New York City,...,10035.0,East,FUR-BO-10001608,Furniture,Bookcases,"Hon Metal Bookcases, Black",681.408,12.0,0.2,42.5880
9990,6927.0,CA-2020-140046,2020-07-28,2020-08-03,Standard Class,KM-16660,Khloe Miller,Consumer,United States,Los Angeles,...,90032.0,West,OFF-LA-10000305,Office Supplies,Labels,Avery 495,18.900,3.0,0.0,8.6940
9991,6928.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,OFF-ST-10003638,Office Supplies,Storage,Mobile Personal File Cube,93.680,4.0,0.0,25.2936
9992,6929.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,OFF-LA-10001934,Office Supplies,Labels,Avery 516,21.930,3.0,0.0,10.3071
9993,6930.0,CA-2020-140382,2020-06-23,2020-06-25,Second Class,RD-19900,Ruben Dartt,Consumer,United States,San Francisco,...,94109.0,West,TEC-PH-10003012,Technology,Phones,Nortel Meridian M3904 Professional Digital phone,862.344,7.0,0.2,97.0137

In [2]:

from read_sql_file import *
f =

In [3]:
f

'\nSELECT top 5\n    exp_type, \n    SUM(amount) AS total_spend,\n    (SUM(amount) * 100.0 / (SELECT SUM(amount) FROM DEProject.dbo.transactions)) AS percentage_contribution\nFROM \n    [transactions]\nGROUP BY \n    exp_type\nORDER BY \n    total_spend DESC;'

In [38]:
import pyodbc
import pandas as pd
from read_sql_file import *
from configparser import RawConfigParser
from setup_logging import *


setup_logging()

# Load configuration
config = RawConfigParser()
config.read('iconfig.ini')

#'Top 5 Expense Categories.sql'
def sql_analysis(filename):
    # Set up logging for monitoring
    

    # Database connection parameters
    server = config['SqlServer_COnnection_Details']['server']
    database = config['SqlServer_COnnection_Details']['database']

    try:
        logging.info(f"#"*50)
        logging.info(f"STEP 3 : Creating Reports")
        logging.info(f"#"*50)    
        logging.info("Establishing database connection...")
        # Connect to the database
        conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
        conn = pyodbc.connect(conn_str)
        logging.info("Database connection established successfully.")

        cursor = conn.cursor()

        # Read the SQL query from the file
        sql_query = read_sql_file(filename)
        logging.info("SQL query read from file: %s", sql_query)

        # Execute the SQL query and load data into a DataFrame
        df = pd.read_sql_query(sql_query, conn)
        logging.info("SQL query executed successfully. Retrieved %d rows.", len(df))

    except Exception as e:
        logging.error("An error occurred: %s", e)

    finally:
        # Ensure the database connection is closed
        if cursor:
            cursor.close()
            logging.info("Cursor closed.")
        if conn:
            conn.close()
            logging.info("Database connection closed.")
    return df  # Return the DataFrame

In [39]:
df =  sql_analysis('Top 5 Expense Categories.sql')

C:\Users\akhil\AppData\Local\Temp\ipykernel_31712\2048230803.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql_query, conn)

In [40]:
df

        exp_type  total_spend  percentage_contribution
0          Bills  907072473.0                22.260357
1           Food  824724009.0                20.239453
2           Fuel  789135821.0                19.366088
3  Entertainment  726437536.0                17.827416
4        Grocery  718207923.0                17.625455

In [13]:
import pyodbc
import pandas as pd
from read_sql_file import *
from configparser import RawConfigParser
from setup_logging import *

config = RawConfigParser()
config.read('iconfig.ini')

# Set up logging for monitoring
# logging.basicConfig(level=logging.INFO)
setup_logging()

# Database connection parameters
server = config['SqlServer_COnnection_Details']['server']
database = config['SqlServer_COnnection_Details']['database']

# Connect to the database
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

df = pd.read_sql_query(f"{read_sql_file('Top 5 Expense Categories.sql')}", conn)
logger.info("Establishing database connection...")

C:\Users\akhil\AppData\Local\Temp\ipykernel_31712\2944657078.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f"{read_sql_file('Top 5 Expense Categories.sql')}", conn)

NameError: name 'logger' is not defined

In [3]:
df

Empty DataFrame
Columns: [exp_type, total_spend, percentage_contribution]
Index: []

In [4]:
df.to_parquet('myfile.parquet')

In [ ]:
d = f"""SELECT top 5
            exp_type, 
            SUM(amount) AS total_spend,
            (SUM(amount) * 100.0 / (SELECT SUM(amount) FROM [transactions])) AS percentage_contribution
        FROM 
            [transactions]
        GROUP BY 
            exp_type
        ORDER BY 
            total_spend DESC;"""